In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.metrics import auc, roc_curve, roc_auc_score
from sklearn.preprocessing import StandardScaler
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from IPython.display import display
import matplotlib.pyplot as plt
from plotly.offline import init_notebook_mode, iplot
import plotly
import re
import plotly.graph_objs as go
import plotly.express as px
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
from dateutil.parser import parse
from dateutil.tz import gettz
tzinfos = {"BRST": -7200, "CST": gettz("America/Chicago")}
### почему бы и не Чикаго?)
df = pd.read_csv('data\\aac_shelter_outcomes.csv', parse_dates=[])
pd.options.display.max_columns = None
df =df.loc[(df['outcome_type'] == 'Transfer') | (df['outcome_type'] == 'Adoption')]
display(df)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
5,4 months,A664462,Dog,Leonberger Mix,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,*Edgar,Partner,Transfer,Intact Male
...,...,...,...,...,...,...,...,...,...,...,...,...
78250,1 month,A764895,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:40:00,2018-02-01T18:40:00,NaN,Foster,Adoption,Neutered Male
78251,1 month,A764894,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,NaN,Foster,Adoption,Spayed Female
78252,3 years,A764468,Dog,Mastiff Mix,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Max,NaN,Adoption,Neutered Male
78254,2 months,A765858,Dog,Standard Schnauzer,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,NaN,NaN,Adoption,Spayed Female
78255,2 months,A765857,Dog,Labrador Retriever Mix,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,NaN,NaN,Adoption,Neutered Male

In [2]:
%timeit df['age_upon_outcome'].unique()

2.08 ms ± 86.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [3]:
long_data = ['age_upon_outcome' ]
date_data = ['date_of_birth', 'datetime']
target_data = ['outcome_type']
cat_data = ['animal_type', 'breed', 'color', 'name', 'outcome_subtype', 'outcome_subtype', 'sex_upon_outcome' ]
del_data = ['animal_id', 'monthyear' ]

In [4]:
reg = r'((?!\.)\d+)\s+(\w*)'

In [5]:
age_upon_outcome_new = []
for line in df['age_upon_outcome']:
    line = str(line)
    result = re.search(reg, line)
    if result:
        if str(result.group(2)) == "years" or str(result.group(2)) == "year":
            line = (int(result.group(1)) * 365)   
        elif str(result.group(2)) == "months" or str(result.group(2)) == "month":
            line = (int(result.group(1)) * 30)
        elif str(result.group(2)) == "week" or str(result.group(2)) == "weeks":
            line = (int(result.group(1)) * 7)
        elif str(result.group(2)) == "days" or str(result.group(2)) == "day":
            line = (int(result.group(1))) 
    else:
        line = np.nan
    age_upon_outcome_new.append(line)
df['age_upon_outcome'] = pd.Series(age_upon_outcome_new)
display(df)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,14.0,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,365.0,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,365.0,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,3285.0,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
5,1095.0,A664462,Dog,Leonberger Mix,Brown/White,2013-06-03T00:00:00,2013-10-07T13:06:00,2013-10-07T13:06:00,*Edgar,Partner,Transfer,Intact Male
...,...,...,...,...,...,...,...,...,...,...,...,...
78250,NaN,A764895,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:40:00,2018-02-01T18:40:00,NaN,Foster,Adoption,Neutered Male
78251,NaN,A764894,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,NaN,Foster,Adoption,Spayed Female
78252,NaN,A764468,Dog,Mastiff Mix,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Max,NaN,Adoption,Neutered Male
78254,NaN,A765858,Dog,Standard Schnauzer,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,NaN,NaN,Adoption,Spayed Female
78255,NaN,A765857,Dog,Labrador Retriever Mix,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,NaN,NaN,Adoption,Neutered Male

In [6]:
dates = pd.to_datetime(df['date_of_birth'], format="%Y-%m-%dT%H:%M:%S");
df['date_of_birth'] = ((dates - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')).astype(np.int64)/ 10**9
dates = pd.to_datetime(df['datetime'], format="%Y-%m-%dT%H:%M:%S")
df['datetime'] = ((dates - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')).astype(np.int64)/ 10**9
df = df.replace(0, -99999)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
le.fit(df['outcome_type'])
df = df.replace('nan', np.nan)
df = df.replace(np.nan, -99999)
y = pd.Series( data = le.transform( df['outcome_type'] ) )
del df['outcome_type']
for x in del_data:
    del df[x]
display(df)

,age_upon_outcome,animal_type,breed,color,date_of_birth,datetime,name,outcome_subtype,sex_upon_outcome
0,14.0,Cat,Domestic Shorthair Mix,Orange Tabby,1.404691,1.406045,-99999,Partner,Intact Male
1,365.0,Dog,Beagle Mix,White/Brown,1.352160,1.383825,Lucy,Partner,Spayed Female
2,365.0,Dog,Pit Bull,Blue/White,1.364688,1.401805,*Johnny,-99999,Neutered Male
3,3285.0,Dog,Miniature Schnauzer Mix,White,1.117670,1.402847,Monday,Partner,Neutered Male
5,1095.0,Dog,Leonberger Mix,Brown/White,1.370218,1.381151,*Edgar,Partner,Intact Male
...,...,...,...,...,...,...,...,...,...
78250,-99999.0,Dog,Golden Retriever/Labrador Retriever,Brown/White,1.512346,1.517510,-99999,Foster,Neutered Male
78251,-99999.0,Dog,Golden Retriever/Labrador Retriever,Brown/White,1.512346,1.517510,-99999,Foster,Spayed Female
78252,-99999.0,Dog,Mastiff Mix,Blue/White,1.419898,1.517508,Max,-99999,Neutered Male
78254,-99999.0,Dog,Standard Schnauzer,Red,1.510531,1.517510,-99999,-99999,Spayed Female
78255,-99999.0,Dog,Labrador Retriever Mix,White/Brown,1.510531,1.517511,-99999,-99999,Neutered Male

dates = pd.to_datetime(df['date_of_birth'], format="%Y-%m-%dT%H:%M:%S")
df['date_of_birth'] = (dates - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')
dates = pd.to_datetime(df['datetime'], format="%Y-%m-%dT%H:%M:%S")
df['datetime'] = (dates - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

df['age_upon_outcome'].replace(0, -99999)
df = pd.get_dummies( df, columns = cat_data )
df.replace('nan', np.nan)
df.replace(np.nan, -99999)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
le.fit(  df['outcome_type'] )
y = pd.Series( data = le.transform( df['outcome_type'] ) )
del_data.append('outcome_type')
for x in del_data:
    del df[x]
display(df)

In [7]:
df = pd.get_dummies( df, columns = cat_data )
X_std, test_std , y_train, y_test = train_test_split(df, y, test_size=0.3)

In [8]:
from sklearn.ensemble import RandomForestClassifier as RF
fsdfsdf

NameError: name 'fsdfsdf' is not defined

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=0.925)
pca.fit(X_std)
X_228d = pca.transform(X_std)

In [ ]:
clf = RF(n_estimators = 500, n_jobs=-1)
%timeit clf = clf.fit(X_228d,y_train)

In [ ]:
X2 = pca.transform(test_std)

print("одель с PCA " clf.score(X2, y_test))

In [ ]:
clf = RF(n_estimators = 500, n_jobs=-1)
%timeit clf = clf.fit(X_std,y_train)
print(clf.score(test_std, y_test))

# Спасибо за проверку

### кусочек спёр из этого кэгла https://www.kaggle.com/zbpvarun/pca-random-forests