In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv( 'adult.csv' )
data.drop(['fnlwgt', 'educational-num'], axis='columns', inplace=True)
columns = list(data.columns)
data = data.replace("?", np.nan)
data.head()

,age,workclass,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,Some-college,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
for x in columns:
    print(f'Для {x} пустых строк {len( data[ pd.isnull( data[x] ) ] )}')
### Мог сразу заменить на nan, но решил , что так быстее писать 
data = data.replace(np.nan, 0)

Для age пустых строк 0
Для workclass пустых строк 2799
Для education пустых строк 0
Для marital-status пустых строк 0
Для occupation пустых строк 2809
Для relationship пустых строк 0
Для race пустых строк 0
Для gender пустых строк 0
Для capital-gain пустых строк 0
Для capital-loss пустых строк 0
Для hours-per-week пустых строк 0
Для native-country пустых строк 857
Для income пустых строк 0

In [4]:
Data_L = pd.get_dummies( data, columns = [ 'workclass', 'education', 'marital-status', 'occupation','relationship', 'race', 'gender', 'native-country'  ] )

In [5]:
columns = print(list(Data_L.columns))

['age', 'capital-gain', 'capital-loss', 'hours-per-week', 'income', 'workclass_0', 'workclass_Federal-gov', 'workclass_Local-gov', 'workclass_Never-worked', 'workclass_Private', 'workclass_Self-emp-inc', 'workclass_Self-emp-not-inc', 'workclass_State-gov', 'workclass_Without-pay', 'education_10th', 'education_11th', 'education_12th', 'education_1st-4th', 'education_5th-6th', 'education_7th-8th', 'education_9th', 'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors', 'education_Doctorate', 'education_HS-grad', 'education_Masters', 'education_Preschool', 'education_Prof-school', 'education_Some-college', 'marital-status_Divorced', 'marital-status_Married-AF-spouse', 'marital-status_Married-civ-spouse', 'marital-status_Married-spouse-absent', 'marital-status_Never-married', 'marital-status_Separated', 'marital-status_Widowed', 'occupation_0', 'occupation_Adm-clerical', 'occupation_Armed-Forces', 'occupation_Craft-repair', 'occupation_Exec-managerial', 'occupation_Farming-fishing', 'occupation_Handlers-cleaners', 'occupation_Machine-op-inspct', 'occupation_Other-service', 'occupation_Priv-house-serv', 'occupation_Prof-specialty', 'occupation_Protective-serv', 'occupation_Sales', 'occupation_Tech-support', 'occupation_Transport-moving', 'relationship_Husband', 'relationship_Not-in-family', 'relationship_Other-relative', 'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife', 'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White', 'gender_Female', 'gender_Male', 'native-country_0', 'native-country_Cambodia', 'native-country_Canada', 'native-country_China', 'native-country_Columbia', 'native-country_Cuba', 'native-country_Dominican-Republic', 'native-country_Ecuador', 'native-country_El-Salvador', 'native-country_England', 'native-country_France', 'native-country_Germany', 'native-country_Greece', 'native-country_Guatemala', 'native-country_Haiti', 'native-country_Holand-Netherlands', 'native-country_Honduras', 'native-country_Hong', 'native-country_Hungary', 'native-country_India', 'native-country_Iran', 'native-country_Ireland', 'native-country_Italy', 'native-country_Jamaica', 'native-country_Japan', 'native-country_Laos', 'native-country_Mexico', 'native-country_Nicaragua', 'native-country_Outlying-US(Guam-USVI-etc)', 'native-country_Peru', 'native-country_Philippines', 'native-country_Poland', 'native-country_Portugal', 'native-country_Puerto-Rico', 'native-country_Scotland', 'native-country_South', 'native-country_Taiwan', 'native-country_Thailand', 'native-country_Trinadad&Tobago', 'native-country_United-States', 'native-country_Vietnam', 'native-country_Yugoslavia']

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit( Data_L['income'] )
from sklearn.model_selection import train_test_split
X , data_test = train_test_split(Data_L, test_size=0.2)
y = pd.Series( data = le.transform( X['income'] ) )
del X['income']
y_test = pd.Series( data = le.transform( data_test['income'] ) )
del data_test['income']
X.head()

,age,capital-gain,capital-loss,hours-per-week,workclass_0,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
10977,36,0,0,50,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
6823,20,0,0,35,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3419,21,0,0,40,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
40033,36,0,0,40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
43528,59,0,0,50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:

from sklearn.linear_model import LinearRegression
model = LogisticRegression()
model.fit( X, y )
predictions = model.predict_proba( data_test )

B:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [8]:
model.score(data_test, y_test)

0.8517760262053434